body,
html {
    background-color: #f6f7f6;
    font-family: "iA writer Mono V";
    font-size: 13px;
    width: 100%;
    height: 100%
}

#titles h5 {
    margin-top: 4px;
    color: #00BCD4;
    font-weight: 100;
    text-transform: capitalize;
        font-weight: bold;
}

#titles h5:hover,
#titles h5:focus {
    cursor: text;
    outline: 0px;
}

.btn-ctrl {
    border: 1px solid #ccc;
    color: #aaa;
    opacity: 0.8;
}

.btn-save:hover {
    border-color: limegreen;
    color: limegreen;
    cursor: pointer;
    opacity: 1
}

.btn-load:hover {
    border-color: orangered;
    color: orangered;
    cursor: pointer;
    opacity: 1
}

.list-items:hover {
    text-decoration: underline;
}

.list-items {
    color: darkgreen;
    font-weight: 100;
}

.list-items:hover {
    text-decoration: underline;
}

.page{
  margin-top: 60px;
}

.sentence {
    color: #c9c7c5;
    font-size: 1.1em;
    font-weight: 100;
    line-height: 26px;
    transition: all 0.12s
}

.sentence:focus {
    color: #222;
}

.sentence:hover,
.sentence:focus {
    cursor: text;
    border: 0px;
    outline: 0px;
}

/*.sentence:last-child {
}*/

.sentence:last-child:focus {
    padding: 3px 12px;
    border-radius: 2px;
    margin-left: 4px;
    color: #222;
    opacity: 1;
}

hr {
    border-top: 1px dashed #ddd;
}